body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.circle {
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 50%;
}
